<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="test_Components.Listeners">
		</listener>
	</listeners>
	<test thread-count="5" name="TC_01">
		<classes>
			<class name="regressionSuite.TC_01_EndToEnd" />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="TC_03">
		<classes>
			<class name="regressionSuite.TC_03_EndToEnd_LeavePage" />
		</classes>
	</test>

</suite> <!--
Suite -->
